.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 20px;
    background-color: var(--nav-background-color);
    color: var(--accent-color);
    position: relative;
    top: 0;
    height: 70px;
    font-size: 1.25rem;
}

nav input#sidebar-toggle {
    display: none;
}

nav > div:first-child {
    width: 100px;
    height: 40px;
    padding: 5px 0;
    box-sizing: content-box;
}

nav > div > img {
    height: 130%;
}

/*nav > div > svg {
    height: 100%;
}

nav > div > svg > path {
    fill: var(--accent-color);
}*/

nav > :first-child, nav .sidebar > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    letter-spacing: 0.1em;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

nav a, nav .sidebar > div > div > :first-child {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
    padding: 20px 15px;
    line-height: 30px;
}

nav .open-sidebar-button, nav .close-sidebar-button {
    cursor: pointer;
    display: none;
}

nav .open-sidebar-button > svg {
    fill: var(--text-color);
    width: fit-content;
    display: block;
}

nav .close-sidebar-button > svg {
    fill: var(--text-color);
    width: fit-content;
    display: block;
}

nav .sidebar > div > div {
    position: relative;
    text-align: center;
}

nav .sidebar > div > div a {
    padding-bottom: 0;
}

nav .sidebar > div > div > .dropdown {
    background: hsl(from var(--nav-background-color) h s calc(l + 10));
    overflow: hidden;
    position: absolute;
    left: 0%;
    transform: translateX(0%) translateY(-100%);
    transition: 0.5s all ease-in-out;
    z-index: -1;
    padding-bottom: 20px;
}

nav .sidebar > div > div > .dropdown > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav .sidebar > div > div:hover > .dropdown {
    transform: translateX(0%) translateY(0%);
}

@font-face {
    font-family: "InterVariable";
    src: url("Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
    font-weight: 1 999;
}

nav .sidebar > div > div > :first-child > span {
    /*display: inline-block;
    transform: scaleX(1.7) scaleY(0.8) translateY(7px) translateX(3px);*/
    position: relative;
}

nav .sidebar > div > div > :first-child > span > svg {
    position: relative;
    transform: translateY(23%);
}

@media (max-width: 1170px) {
    nav .sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 65%;
        max-width: 250px;
        height: 100%;
        background-color: hsl(from var(--nav-background-color) h s calc(l + 5));
        z-index: 10;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }
    nav .sidebar > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        height: 100%;
        overflow-y: auto;
    }
    nav a, nav .sidebar > div div {
        width: 100%;
        text-align: center;
    }
    nav a, nav .sidebar > div > div > :first-child {
        padding: 0.25rem;
    }
    nav .close-sidebar-button {
        /* padding: 10px; */
        margin: 20px;
        align-self: flex-end;
        text-align: left;
        position: sticky;
        top: 20px;
    }
    nav .open-sidebar-button, nav .close-sidebar-button {
        display: block;
    }
    nav #sidebar-toggle:checked ~ .sidebar {
        right: 0;
    }
    /*nav .sidebar > div > div a {
        padding: 1rem;
    }*/
    nav .sidebar > div > div > .dropdown {
        position: relative;
        transform: translateX(0) translateY(0);
        left: 0;
        padding: 0rem 0;
        display: grid;
        grid-template-rows: 0fr;
    }
    nav .sidebar > div > div > .dropdown > div {
        overflow: hidden;
    }
    nav .sidebar > div > div:hover > .dropdown {
        transform: translateX(0) translateY(0);
        grid-template-rows: 1fr;
        padding: 0.5rem 0 0.75rem 0;
    }
    nav .sidebar > div > div > .dropdown > div {
        align-items: center;
        gap: 1.25rem;
    }
}
